openapi: 3.1.0
info:
  title: Fintecture Account Information Services Accounts Payouts API
  description: 'PSD2 Account Information Services. Authenticates a PSU at their bank using either the redirect or decoupled (mobile-app) model, then retrieves bank accounts, balances, holders, and transactions. Also exposes the AIS-backed identity verification endpoint.

    '
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Payouts
  description: Verified payouts and request-for-payout
paths:
  /pis/v2/request-for-payout:
    post:
      summary: Create A Request For Payout
      description: Create a request for payout that the merchant can share with a customer for asynchronous payout.
      operationId: createPisV2RequestForPayout
      tags:
      - Payouts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestForPayoutRequest'
      responses:
        '200':
          description: Request for payout created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestForPayoutResponse'
components:
  schemas:
    RequestForPayoutRequest:
      type: object
      required:
      - meta
      - data
      properties:
        meta:
          type: object
          properties:
            customer_id:
              type: string
        data:
          type: object
          properties:
            attributes:
              type: object
              properties:
                amount:
                  type: string
                currency:
                  type: string
                communication:
                  type: string
    RequestForPayoutResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            session_id:
              type: string
            status:
              type: string
            url:
              type: string
              format: uri
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
