openapi: 3.1.0
info:
  title: Fintecture Account Information Services Accounts Sandbox API
  description: 'PSD2 Account Information Services. Authenticates a PSU at their bank using either the redirect or decoupled (mobile-app) model, then retrieves bank accounts, balances, holders, and transactions. Also exposes the AIS-backed identity verification endpoint.

    '
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Sandbox
paths:
  /v1/transactions/simulate:
    post:
      summary: Simulate A Transaction
      description: Simulate a credit/debit transaction in the Sandbox environment. Use this to test webhook and event flows.
      operationId: simulateTransactionEvent
      tags:
      - Sandbox
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateTransactionRequest'
      responses:
        '200':
          description: Simulation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransaction'
components:
  schemas:
    SimulateTransactionRequest:
      type: object
      required:
      - amount
      - currency
      - type
      properties:
        amount:
          type: string
        currency:
          type: string
        type:
          type: string
          enum:
          - debit
          - credit
        description:
          type: string
        bank_account_id:
          type: string
    MerchantTransaction:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
        currency:
          type: string
        type:
          type: string
          enum:
          - debit
          - credit
        status:
          type: string
        booking_date:
          type: string
          format: date
        value_date:
          type: string
          format: date
        description:
          type: string
        related_payment_id:
          type: string
        related_settlement_id:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
