openapi: 3.1.0
info:
  title: Fintecture Account Information Services Accounts Authentication API
  description: 'PSD2 Account Information Services. Authenticates a PSU at their bank using either the redirect or decoupled (mobile-app) model, then retrieves bank accounts, balances, holders, and transactions. Also exposes the AIS-backed identity verification endpoint.

    '
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Authentication
  description: PSU bank authentication
paths:
  /ais/v1/provider/{provider_id}/authorize:
    get:
      summary: Get Provider Authorization
      description: 'Authenticates a PSU at their bank for AIS access. Returns either a redirect URL or triggers a decoupled authentication request on the PSU''s bank mobile app, depending on the model the bank supports.

        '
      operationId: getAisV1ProviderAuthorization
      tags:
      - Authentication
      parameters:
      - in: path
        name: provider_id
        required: true
        schema:
          type: string
      - in: query
        name: redirect_uri
        schema:
          type: string
          format: uri
      - in: query
        name: state
        schema:
          type: string
      - in: query
        name: psu_type
        schema:
          type: string
          enum:
          - retail
          - corporate
      responses:
        '200':
          description: Authorization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationResponse'
  /ais/v1/provider/{provider_id}/authorize/decoupled:
    get:
      summary: Get Decoupled Provider Authorization
      description: 'Poll the authentication status within the decoupled model. Status moves from PENDING -> COMPLETED on success, or FAILED on timeout/cancellation.

        '
      operationId: getAisV1ProviderAuthorizationDecoupled
      tags:
      - Authentication
      parameters:
      - in: path
        name: provider_id
        required: true
        schema:
          type: string
      - in: query
        name: session_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Decoupled status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - PENDING
                    - COMPLETED
                    - FAILED
                  code:
                    type: string
  /ais/v2/connect:
    get:
      summary: Get AIS Connect Session
      description: Provides a connect session for a PSU to create a connection enabling AIS access.
      operationId: getAisV2Connect
      tags:
      - Authentication
      parameters:
      - in: query
        name: redirect_uri
        schema:
          type: string
          format: uri
      - in: query
        name: state
        schema:
          type: string
      responses:
        '200':
          description: Connect session URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      session_id:
                        type: string
                      url:
                        type: string
                        format: uri
  /ais/v1/customer/{customer_id}:
    delete:
      summary: Delete Provider Connection
      description: Deletes all active access tokens and PSU data linked to the requested connection.
      operationId: deleteAisV1Customer
      tags:
      - Authentication
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      responses:
        '204':
          description: Connection deleted
components:
  parameters:
    CustomerIdPath:
      in: path
      name: customer_id
      required: true
      schema:
        type: string
  schemas:
    AuthorizationResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            url:
              type: string
              format: uri
            session_id:
              type: string
            decoupled:
              type: boolean
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
