openapi: 3.1.0
info:
  title: Fintecture Account Information Services Accounts Customers API
  description: 'PSD2 Account Information Services. Authenticates a PSU at their bank using either the redirect or decoupled (mobile-app) model, then retrieves bank accounts, balances, holders, and transactions. Also exposes the AIS-backed identity verification endpoint.

    '
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Customers
  description: Customer records
paths:
  /v1/customers:
    get:
      summary: List All Customers
      description: Comprehensive overview of all registered customers.
      operationId: listAllCustomers
      tags:
      - Customers
      parameters:
      - in: query
        name: page[number]
        schema:
          type: integer
      - in: query
        name: page[size]
        schema:
          type: integer
      responses:
        '200':
          description: Customer list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerList'
    post:
      summary: Create Customer
      description: Register a customer to accelerate payments.
      operationId: createCustomer
      tags:
      - Customers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreate'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
  /v1/customers/{customer_id}:
    get:
      summary: Get A Customer
      description: Retrieve a customer's details by customer_id.
      operationId: getCustomerById
      tags:
      - Customers
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
components:
  schemas:
    Customer:
      type: object
      properties:
        id:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        company_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        address:
          type: object
          properties:
            line1:
              type: string
            line2:
              type: string
            postal_code:
              type: string
            city:
              type: string
            country:
              type: string
        external_id:
          type: string
        created_at:
          type: string
          format: date-time
    CustomerList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
        meta:
          type: object
          properties:
            count:
              type: integer
    CustomerCreate:
      type: object
      required:
      - first_name
      - last_name
      - email
      properties:
        first_name:
          type: string
        last_name:
          type: string
        company_name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        external_id:
          type: string
  parameters:
    CustomerIdPath:
      in: path
      name: customer_id
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
