openapi: 3.2.0
info:
  title: Fintecture Organisation Access Credentials Users API
  description: Beta multi-tenant management API. Manages Applications, Bank Accounts, Companies, Organisation Nodes (hierarchical tree), Memberships, and Users in the Fintecture Console. Requires an OAC (Organisation Access Credentials) access token with per-resource read/write scopes. Currently in beta and available only to selected clients.
  version: v1-beta
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Users
paths:
  /v1/users:
    post:
      summary: Create User
      operationId: postUsers
      tags:
      - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreate'
      responses:
        '201':
          description: User created
  /v1/users/{user_id}:
    get:
      summary: Get User
      operationId: getUserById
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    patch:
      summary: Update User
      operationId: patchUserById
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPatch'
      responses:
        '200':
          description: Updated
    delete:
      summary: Delete User
      description: Destructive. Deletes Firebase auth credentials and all memberships.
      operationId: deleteUserById
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserIdPath'
      responses:
        '204':
          description: Deleted
components:
  parameters:
    UserIdPath:
      in: path
      name: user_id
      required: true
      schema:
        type: string
  schemas:
    UserPatch:
      type: object
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
    User:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
    UserCreate:
      type: object
      required:
      - email
      - membership
      properties:
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        membership:
          $ref: '#/components/schemas/MembershipCreate'
    MembershipCreate:
      type: object
      required:
      - user_id
      - role
      properties:
        user_id:
          type: string
        company_id:
          type: string
        organisation_node_id:
          type: string
        role:
          type: string
          enum:
          - admin
          - developer
          - viewer
        notification_preferences:
          type: object
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
