openapi: 3.1.0
info:
  title: Fintecture Account Information Services Accounts Transactions API
  description: 'PSD2 Account Information Services. Authenticates a PSU at their bank using either the redirect or decoupled (mobile-app) model, then retrieves bank accounts, balances, holders, and transactions. Also exposes the AIS-backed identity verification endpoint.

    '
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Transactions
  description: Account transactions
paths:
  /ais/v1/customer/{customer_id}/account/{account_id}/transactions:
    get:
      summary: Get Account Transactions
      description: Returns all transactions linked to the requested account.
      operationId: getAisV1CustomerAccountTransactions
      tags:
      - Transactions
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      - $ref: '#/components/parameters/AccountIdPath'
      - in: query
        name: from
        schema:
          type: string
          format: date
      - in: query
        name: to
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Transaction list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
  /v1/transactions:
    get:
      summary: List All Transactions
      operationId: listAllTransactions
      tags:
      - Transactions
      parameters:
      - in: query
        name: filter[from]
        schema:
          type: string
          format: date
      - in: query
        name: filter[to]
        schema:
          type: string
          format: date
      - in: query
        name: filter[type]
        schema:
          type: string
          enum:
          - debit
          - credit
      responses:
        '200':
          description: Transactions list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MerchantTransaction'
  /v1/transactions/{transaction_id}:
    get:
      summary: Get Specific Transaction
      operationId: getTransactionById
      tags:
      - Transactions
      parameters:
      - in: path
        name: transaction_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantTransaction'
components:
  schemas:
    TransactionList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        meta:
          type: object
          properties:
            count:
              type: integer
    Transaction:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
        currency:
          type: string
        booking_date:
          type: string
          format: date
        value_date:
          type: string
          format: date
        description:
          type: string
        type:
          type: string
          enum:
          - debit
          - credit
        counterparty:
          type: object
          properties:
            name:
              type: string
            iban:
              type: string
    MerchantTransaction:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
        currency:
          type: string
        type:
          type: string
          enum:
          - debit
          - credit
        status:
          type: string
        booking_date:
          type: string
          format: date
        value_date:
          type: string
          format: date
        description:
          type: string
        related_payment_id:
          type: string
        related_settlement_id:
          type: string
  parameters:
    CustomerIdPath:
      in: path
      name: customer_id
      required: true
      schema:
        type: string
    AccountIdPath:
      in: path
      name: account_id
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
