openapi: 3.2.0
info:
  title: Fintecture Resources Test Accounts API
  description: Reference data. Lists the supported bank providers with their AIS capabilities (accountholders, accounts, transactions) and PIS rails (SEPA, iSCT, FPS, PLN, INT), plus sandbox test accounts available per bank.
  version: v1
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Test Accounts
  description: Sandbox test accounts
paths:
  /res/v1/test-accounts:
    get:
      summary: Get All Test Accounts
      description: Retrieves test accounts by bank for use in the sandbox environment only.
      operationId: getResV1TestAccounts
      tags:
      - Test Accounts
      responses:
        '200':
          description: Test accounts list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TestAccount'
  /res/v1/test-accounts/{account_id}:
    get:
      summary: Get A Specific Test Account
      operationId: getResV1TestAccountById
      tags:
      - Test Accounts
      parameters:
      - in: path
        name: account_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Test account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestAccount'
components:
  schemas:
    TestAccount:
      type: object
      properties:
        id:
          type: string
        provider_id:
          type: string
        iban:
          type: string
        bic:
          type: string
        holder_name:
          type: string
        balance:
          type: string
        currency:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
