openapi: 3.1.0
info:
  title: Fintecture Account Information Services Accounts API
  description: 'PSD2 Account Information Services. Authenticates a PSU at their bank using either the redirect or decoupled (mobile-app) model, then retrieves bank accounts, balances, holders, and transactions. Also exposes the AIS-backed identity verification endpoint.

    '
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Accounts
  description: Bank accounts, balances, and holders
paths:
  /ais/v1/customer/{customer_id}/accounts:
    get:
      summary: Get All Accounts
      description: Returns all accounts linked to a specific connection.
      operationId: getAisV1CustomerAccounts
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      responses:
        '200':
          description: Accounts list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsList'
  /ais/v1/customer/{customer_id}/account/{account_id}:
    get:
      summary: Get Specific Account
      description: Returns information for a specific account.
      operationId: getAisV1CustomerAccount
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: Account details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
  /ais/v1/customer/{customer_id}/account/{account_id}/holders:
    get:
      summary: Get Account Holders
      description: Retrieves personal information of beneficiary owners — name, address, contact details.
      operationId: getAisV1CustomerAccountHolders
      tags:
      - Accounts
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: Holders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AccountHolder'
components:
  parameters:
    CustomerIdPath:
      in: path
      name: customer_id
      required: true
      schema:
        type: string
    AccountIdPath:
      in: path
      name: account_id
      required: true
      schema:
        type: string
  schemas:
    AccountHolder:
      type: object
      properties:
        name:
          type: string
        address:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
    Account:
      type: object
      properties:
        id:
          type: string
        iban:
          type: string
        bic:
          type: string
        currency:
          type: string
        balances:
          type: array
          items:
            $ref: '#/components/schemas/Balance'
        type:
          type: string
          enum:
          - CACC
          - SVGS
          - LOAN
          - CARD
          - OTHR
    AccountsList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
    Balance:
      type: object
      properties:
        type:
          type: string
          enum:
          - available
          - current
          - closingBooked
          - expected
        amount:
          type: string
        currency:
          type: string
        timestamp:
          type: string
          format: date-time
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
