openapi: 3.2.0
info:
  title: Fintecture Payment Initiation Services Payouts API
  description: 'PSD2 Payment Initiation Services exposed by Fintecture: Immediate Transfer, Smart Transfer (auto-reconciled via merchant-allocated virtual IBANs), Request To Pay (payment links via email/SMS/QR), Buy Now Pay Later, Verified Payout, and Immediate Refund. The /pis/v2/connect endpoint serves all three payment types and supports mixing them in the same session via the Payment Hub.'
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
  license:
    name: Fintecture Terms of Service
    url: https://fintecture.com/mentions-legales
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Payouts
  description: Verified payouts and request-for-payout
paths:
  /pis/v2/request-for-payout:
    post:
      summary: Create A Request For Payout
      description: Create a request for payout that the merchant can share with a customer for asynchronous payout.
      operationId: createPisV2RequestForPayout
      tags:
      - Payouts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestForPayoutRequest'
      responses:
        '200':
          description: Request for payout created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestForPayoutResponse'
components:
  schemas:
    RequestForPayoutResponse:
      type: object
      properties:
        meta:
          type: object
          properties:
            session_id:
              type: string
            status:
              type: string
            url:
              type: string
              format: uri
    RequestForPayoutRequest:
      type: object
      required:
      - meta
      - data
      properties:
        meta:
          type: object
          properties:
            customer_id:
              type: string
        data:
          type: object
          properties:
            attributes:
              type: object
              properties:
                amount:
                  type: string
                currency:
                  type: string
                communication:
                  type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
