openapi: 3.2.0
info:
  title: Fintecture Bank Accounts API
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
  version: '1.0'
  description: 'Operations tagged Bank Accounts across 2 of this provider''s published API definitions: fintecture-oac-api-openapi.yml, fintecture-bank-accounts-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Bank Accounts
paths:
  /v1/bank-accounts:
    get:
      summary: List Bank Accounts
      description: List bank accounts linked to companies in the authenticated organisation's subtree.
      operationId: getBankAccounts
      tags:
      - Bank Accounts
      responses:
        '200':
          description: Bank account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OacBankAccount'
    post:
      summary: Create Bank Account
      operationId: postBankAccounts
      tags:
      - Bank Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OacBankAccountCreate'
      responses:
        '201':
          description: Bank account created
    servers:
    - url: https://api.fintecture.com
      description: Production
    - url: https://api-sandbox.fintecture.com
      description: Sandbox
  /v1/bank-accounts/{bank_account_id}:
    patch:
      summary: Update Bank Account
      operationId: patchBankAccountById
      tags:
      - Bank Accounts
      parameters:
      - in: path
        name: bank_account_id
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OacBankAccountCreate'
      responses:
        '200':
          description: Updated
    delete:
      summary: Delete Bank Account
      operationId: deleteBankAccountById
      tags:
      - Bank Accounts
      parameters:
      - in: path
        name: bank_account_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
    servers:
    - url: https://api.fintecture.com
      description: Production
    - url: https://api-sandbox.fintecture.com
      description: Sandbox
  /v1/customers/{customer_id}/bank-accounts:
    servers:
    - url: https://api.fintecture.com
      description: Production
    - url: https://api-sandbox.fintecture.com
      description: Sandbox
    get:
      summary: List All Customer Bank Accounts
      operationId: listAllCustomerBankAccounts
      tags:
      - Bank Accounts
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      responses:
        '200':
          description: Bank account list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerBankAccount'
    post:
      summary: Create Customer Bank Account
      operationId: createCustomerBankAccount
      tags:
      - Bank Accounts
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerBankAccountCreate'
      responses:
        '201':
          description: Bank account created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBankAccount'
  /v1/customers/{customer_id}/bank-accounts/{account_id}:
    servers:
    - url: https://api.fintecture.com
      description: Production
    - url: https://api-sandbox.fintecture.com
      description: Sandbox
    get:
      summary: Get A Bank Account From A Customer
      operationId: getBankAccountById
      tags:
      - Bank Accounts
      parameters:
      - $ref: '#/components/parameters/CustomerIdPath'
      - in: path
        name: account_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bank account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerBankAccount'
components:
  schemas:
    OacBankAccount:
      type: object
      properties:
        id:
          type: string
        iban:
          type: string
        bic:
          type: string
        holder_name:
          type: string
        currency:
          type: string
    OacBankAccountCreate:
      type: object
      required:
      - iban
      - holder_name
      properties:
        iban:
          type: string
        bic:
          type: string
        holder_name:
          type: string
        currency:
          type: string
    CustomerBankAccount:
      type: object
      properties:
        id:
          type: string
        iban:
          type: string
        bic:
          type: string
        holder_name:
          type: string
        currency:
          type: string
        verified:
          type: boolean
    CustomerBankAccountCreate:
      type: object
      required:
      - iban
      - holder_name
      properties:
        iban:
          type: string
        bic:
          type: string
        holder_name:
          type: string
        currency:
          type: string
  parameters:
    CustomerIdPath:
      in: path
      name: customer_id
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- fintecture-oac-api-openapi.yml
- fintecture-bank-accounts-api-openapi.yml
