openapi: 3.2.0
info:
  title: Fintecture Payment Initiation Services Settlements API
  description: 'PSD2 Payment Initiation Services exposed by Fintecture: Immediate Transfer, Smart Transfer (auto-reconciled via merchant-allocated virtual IBANs), Request To Pay (payment links via email/SMS/QR), Buy Now Pay Later, Verified Payout, and Immediate Refund. The /pis/v2/connect endpoint serves all three payment types and supports mixing them in the same session via the Payment Hub.'
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
  license:
    name: Fintecture Terms of Service
    url: https://fintecture.com/mentions-legales
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Settlements
  description: Local Acquiring disbursements
paths:
  /pis/v2/settlements:
    get:
      summary: Get All Settlements
      description: List all disbursements from the merchant's Local Acquiring account.
      operationId: getPisV2Settlements
      tags:
      - Settlements
      responses:
        '200':
          description: Settlements list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementList'
  /pis/v2/settlements/{settlement_id}:
    get:
      summary: Get Specific Settlement
      description: Information about a specific settlement.
      operationId: getSettlementById
      tags:
      - Settlements
      parameters:
      - in: path
        name: settlement_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Settlement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
components:
  schemas:
    Settlement:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
        currency:
          type: string
        status:
          type: string
        settled_at:
          type: string
          format: date-time
        beneficiary_iban:
          type: string
        transactions:
          type: array
          items:
            type: string
    SettlementList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
