openapi: 3.1.0
info:
  title: Fintecture Account Information Services Accounts Settlements API
  description: 'PSD2 Account Information Services. Authenticates a PSU at their bank using either the redirect or decoupled (mobile-app) model, then retrieves bank accounts, balances, holders, and transactions. Also exposes the AIS-backed identity verification endpoint.

    '
  version: v2
  contact:
    name: Fintecture Support
    url: https://fintecture.com/contact
servers:
- url: https://api.fintecture.com
  description: Production
- url: https://api-sandbox.fintecture.com
  description: Sandbox
security:
- BearerAuth: []
tags:
- name: Settlements
  description: Local Acquiring disbursements
paths:
  /pis/v2/settlements:
    get:
      summary: Get All Settlements
      description: List all disbursements from the merchant's Local Acquiring account.
      operationId: getPisV2Settlements
      tags:
      - Settlements
      responses:
        '200':
          description: Settlements list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SettlementList'
  /pis/v2/settlements/{settlement_id}:
    get:
      summary: Get Specific Settlement
      description: Information about a specific settlement.
      operationId: getSettlementById
      tags:
      - Settlements
      parameters:
      - in: path
        name: settlement_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Settlement details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settlement'
components:
  schemas:
    SettlementList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
    Settlement:
      type: object
      properties:
        id:
          type: string
        amount:
          type: string
        currency:
          type: string
        status:
          type: string
        settled_at:
          type: string
          format: date-time
        beneficiary_iban:
          type: string
        transactions:
          type: array
          items:
            type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
